<md-dialog aria-label="Editar Criterio">
  <form name="disorderForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar informacion del Desorden</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="answer('close')">
          <md-icon md-svg-src="/images/delete.svg" aria-label="Close Dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      <md-input-container>
        <label>Nombre</label>
        <input type="text" name="name" required ng-model="newDisorder.name">
        <div ng-messages="disorderForm.name.$error">
          <div ng-message="required">Nombre requerido.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Descripcion</label>
        <textarea name="description" rows="8" cols="40" required ng-model="newDisorder.description"></textarea>
        <div ng-messages="disorderForm.descripton.$error">
          <div ng-message="required">
            Requiere una descripcion del desorden.
          </div>
        </div>
      </md-input-container>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button ng-click="hide()" class="md-primary">Cancelar</md-button>
      <md-button ng-click="editDisorder(newDisorder)" class="md-primary">Editar Desorden</md-button>
    </div>
  </form>
</md-dialog>
