<md-content class="md-padding">
  <md-card>
    <md-card-content>
      <h2 class="md-title">{{criteria.text}}</h2>
      <md-divider></md-divider>
      <h4 class="md-subtitle" ng-if="criteria.disorders.length != 0">Este criterio pertenece a los siguientes desordenes</h4>
      <ul ng-if="criteria.disorders.length != 0">
        <li ng-repeat="disorder in criteria.disorders">
          <a ng-href="#/show/{{disorder.id}}">
            {{disorder.name}}
          </a>
        </li>
      </ul>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
      <md-button ng-click="showEditCriteriaDialog()" class="md-raised md-accent">Editar Criterio</md-button>
      <md-button ng-click="showDeleteDialog($event)" class="md-raised md-warn">Eliminar Criterio</md-button>
    </div>
  </md-card>
</md-content>
