<md-dialog aria-label="Iniciar Sesion">
  <form name="loginForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Inicia Sesion con tu cuenta</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="answer('close')">
          <md-icon md-svg-src="/images/delete.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-pading>
      <md-input-container>
        <label>Correo Electronico</label>
        <input name="email" type="email" required ng-model="newUser.email">
        <div ng-messages="loginForm.email.$error">
          <div ng-message="required">Requiere un correo electronico</div>
          <div ng-message="email">Formato de correo electronico invalido.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Contraseña</label>
        <input type="password" name="password" required ng-model="newUser.password">
        <div ng-messages="loginForm.password.$error">
          <div ng-message="required">Require una contraseña</div>
        </div>
      </md-input-container>
      <!-- <input type="submit" value="Iniciar Sesion" ng-click="login()"> -->
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button ng-click="hide()" class="md-primary">Cancelar</md-button>
      <md-button ng-click="login()" class="md-primary">Iniciar Sesion</md-button>
    </div>
  </form>
