<md-dialog aria-label="Registrarse">
  <form name="registerForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Crear una nueva cuenta</h2>

      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('close')">
        <md-icon md-svg-src="/images/delete.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
    </md-toolbar>
    <md-dialog-content layout-pading>
      <md-input-container>
        <label>Nombre</label>
        <input type="text" required name="name" ng-model="newUser.name">
        <div ng-messages="registerForm.name.$error">
          <div ng-message="required">Requiere un nombre.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Correo Electronico</label>
        <input name="email" type="email" required ng-model="newUser.email">
        <div ng-messages="registerForm.email.$error">
          <div ng-message="required">Requiere un correo electronico</div>
          <div ng-message="email">Formato de correo electronico invalido.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Contraseña</label>
        <input type="password" name="password" required ng-model="newUser.password">
        <div ng-messages="registerForm.password.$error">
          <div ng-message="required">Require una contraseña</div>
        </div>
      </md-input-container>
      <!-- <input type="submit" value="Crear una cuenta" ng-click="register()"> -->
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button ng-click="hide()" class="md-primary">Cancelar</md-button>
      <md-button ng-click="register()" class="md-primary">Registrarse</md-button>
    </div>
  </form>
